name: BuildWheels

on:
  workflow_dispatch:

jobs:
  build_sdist:
    name: Build SDist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - run: python -m pip install pep517
    - run: python -m pep517.build --source .

    - uses: actions/upload-artifact@v2
      with:
        path: dist/*.tar.gz

  build_wheels:
    name: Wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v1

    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - run: python -m pip install cibuildwheel

    - run: python -m cibuildwheel --output-dir wheelhouse
      env:
        CIBW_BUILD: cp38-* cp39-* cp310-* cp311-* cp312-*
        CIBW_SKIP: "*-musllinux_*"
        CIBW_ARCHS: auto64
        CIBW_ENVIRONMENT: 'LW_CI_BUILD=true'
        CIBW_BUILD_VERBOSITY: 1
        CIBW_ARCHS_MACOS: x86_64 universal2

    - uses: actions/upload-artifact@v2
      with:
        path: wheelhouse/*.whl
